header {
 
    background-color : lightblue;
    /*background-image: -webkit-linear-gradient( left, #ff0000, #ffa500 13.0%,#ffff00 26.0%,#0000ff 39.0%,#008000 52.0%,#4b0082 65.0%,#ee82ee 78.0%)*/
    background-image : -webkit-linear-gradient( 45deg, lightblue  , blue );
}

    header.session {
    
    }

.sessionList li { 
display: inline;
list-style-type: none;
/*padding-right: 20px;*/
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}



#btnParse {
    /* Parse button is only available when file is selected/dropped */
    visibility : hidden;
    
    
        
}

#activityMap {
    width: 100%;
    height: 300px;
}

#testChart {
    visibility : hidden;
    width: 100%;
    /*height : 300px;*/
}

#hrvChart {
    width: 100%;
}


#speedVsHRChart {
   width : 49%;
    /*height: 200px;*/
    float : left;
    visibility : hidden
    
}

/*#container {
    width: 100%;
}*/

#zonesChart {
    visibility : hidden;
    width : 50%;
    /*height: 200px;*/
    float : left;
    
}

#divHRZones {
    visibility: hidden;
    width: 50%;
}

/* FIT global messages for map */

.FITrecord {
    padding : 1px;
    width : 1px;
    float : left;
               background :   #000;
}


.FITfile_id {
    padding : 1px;
    width: 5px;
    float: left;
    background: #ffd800;
}

.FITunknown {
    padding : 1px;
        width: 1px;
    float: left;
    background: #f00;
}

.FIThrv {
    padding : 1px;
     width: 1px;
    float: left;
    background: #808080;
}

.FITactivity {
    padding: 1px;
    width: 10px;
    float: left;
    background: #4cff00;
}

.FITlap {
    padding: 1px;
    width: 15px;
    float: left;
    background: #0094ff;
}

.FITsession {
    padding: 1px;
    width: 20px;
    float: left;
    background: #ff6a00;
}
