header, footer {
    /*background-image: -webkit-linear-gradient( left, #ff0000, #ffa500 13.0%,#ffff00 26.0%,#0000ff 39.0%,#008000 52.0%,#4b0082 65.0%,#ee82ee 78.0%)*/
    background-color: lightblue;
    background-image: -webkit-linear-gradient( 45deg, lightblue, blue );
    background-image: -ms-linear-gradient( 45deg,lightblue,blue);
    background-image: -moz-linear-gradient( 45deg, lightblue,blue);
    background-image: linear-gradient(45deg, lightblue,blue);
}


/*.sessionList li { 
display: inline;
list-style-type: none;
/*padding-right: 20px;*/
/*margin-left: 0;
padding-left: 0;
white-space: nowrap;
}*/

#divHeaderInfo {
    margin-left: 5px;
    margin-top: 2px;
}

#divMapWrapper {
    min-height: 270px;
}

#importedActivities {
    overflow-y: scroll;
    width: 30%;
    height: 270px;
    float: right;
}

#activityList {
    list-style-type: none;
    padding-left: 0px;
    -webkit-padding-start: 0px; /* Defaults to 40px in Chrome*/
}

.newActivity {
    clear: both;
    /*border-bottom: 1px solid black;*/
    height: 100px;
    margin-bottom: 2px;
}

#activityList li a {
    text-decoration: none;
}

#sportList {
    list-style-type: none;
    padding-left: 0px;
    -webkit-padding-start: 0px;
}

#activityMap {
    width: 49%;
    height: 270px;
    /*height : 270px;*/
    /*background-color : white;*/
    float: right;
    /*display : none; */
}

#liveImage {
    width: 20%;
    /*height : 270px;*/
    height: 270px;
    margin-left: 5px;
    float: left;
}

.loadButton {
    height: 30px;
    padding: 0;
    background: transparent;
    border: none;
}

#divLoading {
    width: 45px;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
}

#divChartWrapper {
    margin-top: 5px;
    /*display : -webkit-flex;
display : -ms-flexbox;
display : -moz-flex; 
display  : flex;
-webkit-flex-flow :row wrap;
-webkit-align-items : stretch;*/
    height: 550px;
}


#multiChart {
    /*visibility : hidden;*/
    /*-webkit-flex : 5 1;*/
    float: left;
    width: 90%;
    height: inherit;
}

#zonesChart {
    /*display : none;*/
    /*visibility : hidden;*/
    /*z-index : 1;*/
    /*-webkit-flex : 1  1;*/
    /*height: 200px;*/
    /*float : left;*/
    float: right;
    width: 10%;
    height: inherit;
}


#divHRZones {
    visibility: hidden;
    width: 50%;
}

/* FIT global messages for map */

.FITrecord {
    padding: 1px;
    width: 1px;
    float: left;
    background: #000;
}


.FITfile_id {
    padding: 1px;
    width: 5px;
    float: left;
    background: #ffd800;
}

.FITunknown {
    padding: 1px;
    width: 1px;
    float: left;
    background: #f00;
}

.FIThrv {
    padding: 1px;
    width: 1px;
    float: left;
    background: #808080;
}

.FITactivity {
    padding: 1px;
    width: 10px;
    float: left;
    background: #4cff00;
}

.FITlap {
    padding: 1px;
    width: 15px;
    float: left;
    background: #0094ff;
}

.FITsession {
    padding: 1px;
    width: 20px;
    float: left;
    background: #ff6a00;
}

.FITdevice_info {
    padding: 1px;
    width: 5px;
    float: left;
    background: lightblue;
}

.FITevent {
    padding: 1px;
    width: 7px;
    float: left;
    background: #b200ff;
}

.FITfile_creator {
    padding: 1px;
    width: 3px;
    float: left;
    background: #b6ff00;
}

.FITlength {
    padding: 1px;
    width: 3px;
    float: left;
    background: #0ff;
}

section#lapList {
    margin-left: 0;
    padding-left: 0;
    clear: both;
    display: none;
}

#lapList article {
    float: left;
    text-align: center;
    /*list-style-type: none;*/
    padding-right: 10px;
    background-color: #0094ff;
    border: 1px solid black;
    /*padding : 5px;*/
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
}

    #lapList article a {
        text-decoration: none;
    }

.lapNr {
    font-size: x-large;
}

.lapSport {
    /*float : left;*/
    padding-left: 5px;
    width: 16px;
    height: 16px;
    border: none;
}

.lapTrigger {
    /*float: right;*/
    height: 16px;
    width: 16px;
    border: none;
}

.sessionSport {
    border: none; /* IE 10 sets border by default*/
    width: 24px;
    height: 24px;
    padding: 2px;
}

.sessionFullDate {
    /*font-size : larger;*/
}

.sessionHHMMSS {
    /*color : lightgray;*/
    /*font-size: larger;*/
}

.lapHHMMSS {
    /*color : lightgray;*/
    /* font-size: larger; */
}

.lapTOTALDISTANCE {
    /*color: lightgray;*/
    /*font-size: larger;*/
}

.sessionTOTALDISTANCE {
    /*color: lightgray;*/
    /*font-size: larger;*/
}

#sessionDetails {
    /*color: lightgray;*/
    /*font-size: larger;*/
    padding-left: 5px;
    /*background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);*/
}

#lapDetails {
    padding-left: 5px;
}

ul#sessionList {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    /*background-color: lightgrey;*/
    /*display : none;*/
}

#sessionList li {
    font-size: medium;
    float: left;
    /*list-style-type: none;*/
    /*padding-right: 10px;*/
    /*background-color:  lightgrey;*/
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
    /*clear : both;*/ /*Added to force newline*/
}

    #sessionList li a {
        text-decoration: none;
    }


.sessionTrigger {
    height: 16px;
    width: 16px;
    border: none;
}

.SessionLapErrorUndefined {
    background-color: red;
}




#divSessionLap {
    display: none; /* Turn off to allow for Applybindings (Knockoutjs data-binding) to get effect ...*/
}

.inlineIcon {
    padding-top: 3px;
    border: none; /* Turn off default IE 10 border*/
    height: 16px;
    padding-right: 5px;
    padding-left: 5px;
}

.FITprogressImport {
    display: none;
    /*float : right;*/
}
