header, footer {
 
   
    /*background-image: -webkit-linear-gradient( left, #ff0000, #ffa500 13.0%,#ffff00 26.0%,#0000ff 39.0%,#008000 52.0%,#4b0082 65.0%,#ee82ee 78.0%)*/
     background-color : lightblue;
    background-image : -webkit-linear-gradient( 45deg, lightblue  , blue );
    background-image : -ms-linear-gradient( 45deg,lightblue,blue);
    background-image:  -moz-linear-gradient( 45deg, lightblue,blue);
    background-image : linear-gradient(45deg, lightblue,blue);
  
}

/*http://designmodo.com/css3-dropdown-menu/*/

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    height: 40px;
    width: 100%;
 
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:2px;
    margin-bottom:2px;
}
 
.menu li {
    z-index: 1;
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}



.menu li a {
    display: block;
    padding: 0 5px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a { border-right: none; }
 
.menu li:hover > a { color: #8fde62; }

.menu ul {
    z-index : 1;
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 600px;
    /*padding: 4px 0 4px 40px;*/
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
.menu ul li:last-child a { border: none; }


/*.sessionList li { 
display: inline;
list-style-type: none;
/*padding-right: 20px;*/
/*margin-left: 0;
padding-left: 0;
white-space: nowrap;
}*/


#activityMap {
    width: 100%;
    height: 350px;
    background-color : white;

    
    /*display : none; */
}

.loadButton {
    height: 30px;
    padding : 0;
    background : transparent;
    border: none;
}

#divLoading {
  width: 45px;
  background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
}

#divChartWrapper {
margin-top : 5px;
}

#testChart {
    visibility : hidden;
    width : 89%;
    /*height : 300px;*/
}

#zonesChart {
    visibility : hidden;
   z-index : 1;
    width : 10%;
    /*height: 200px;*/
    /*float : left;*/
    
}

#hrvChart {
    width: 100%;
}


#speedVsHRChart {
   width : 49%;
    /*height: 200px;*/
    float : left;
    visibility : hidden
    
}



#divHRZones {
    visibility: hidden;
    width: 50%;
}



/* FIT global messages for map */

.FITrecord {
    padding : 1px;
    width : 1px;
    float : left;
    background :   #000;
}


.FITfile_id {
    padding : 1px;
    width: 5px;
    float: left;
    background: #ffd800;
}

.FITunknown {
    padding : 1px;
        width: 1px;
    float: left;
    background: #f00;
}

.FIThrv {
    padding : 1px;
     width: 1px;
    float: left;
    background: #808080;
}

.FITactivity {
    padding: 1px;
    width: 10px;
    float: left;
    background: #4cff00;
}

.FITlap {
    padding: 1px;
    width: 15px;
    float: left;
    background: #0094ff;
}

.FITsession {
    padding: 1px;
    width: 20px;
    float: left;
    background: #ff6a00;
}

.FITdevice_info {
    padding : 1px;
    width: 5px;
    float: left;
    background: lightblue;
}

.FITevent {
    padding : 1px;
    width: 7px;
    float: left;
    background: #b200ff;
}

.FITfile_creator {
    padding : 1px;
    width: 3px;
    float: left;
    background: #b6ff00;
}

.FITlength {
    padding : 1px;
    width: 3px;
    float: left;
    background: #0ff;
}

section#lapList {
    margin-left: 0;
    padding-left: 0;
    clear: both;
    display : none;
    
}

#lapList article {
    float : left;
    text-align : center;

    /*list-style-type: none;*/

    padding-right: 10px;
    background-color:  #0094ff;
    border : 1px solid black;
    /*padding : 5px;*/
    margin-top : 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom : 5px;
}

    #lapList article a {
        text-decoration: none;
    }

.lapNr {
    font-size : x-large;
}

.lapSport {
  float : left;
  width : 16px;
  height : 16px;
  border : none;
}

.lapTrigger {
    float: right;
    height : 16px;
    width : 16px;
    border : none;
}

.sessionSport {
    border : none;  /* IE 10 sets border by default*/
    width: 24px;
    height: 24px;
    padding : 2px;
}

.sessionHHMMSS  {
    color : lightgray;
    font-size: larger;
}

.lapHHMMSS {
    color : lightgray;
   /* font-size: larger; */ 
}

.lapTOTALDISTANCE {
    color: lightgray;
    /*font-size: larger;*/
}
.sessionTOTALDISTANCE {
    color: lightgray;
    font-size: larger;
}

#sessionDetails {
   color: lightgray;
   /*font-size: larger;*/
  
   padding-bottom: 10px;
   padding-left : 5px;
   padding-top: 7px;
  
    /*background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);*/
}

ul#sessionList {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    /*background-color: lightgrey;*/
   
    /*display : none;*/
}

#sessionList li {
    font-size :medium;
    float : left;
    /*list-style-type: none;*/
    /*padding-right: 10px;*/
    /*background-color:  lightgrey;*/
     margin-top : 5px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom : 5px;
    height : 40px;
    /*clear : both;*/ /*Added to force newline*/
}

#sessionList li a {
    text-decoration: none;
}


.sessionTrigger {
    
    height: 16px;
    width: 16px;
    border : none;
}

.SessionLapErrorUndefined {
    background-color : red;
}




#divSessionLap {
    display: none;  /* Turn off to allow for Applybindings (Knockoutjs data-binding) to get effect ...*/
}

.inlineIcon {
    padding-top: 3px;
    border : none; /* Turn off default IE 10 border*/
    height : 16px;
    padding-right: 5px;
    padding-left: 5px;
    
}

.FITprogressImport {
    display: none;
    /*float : right;*/
    
}