#btnParse {
    /* Parse button is only available when file is selected/dropped */
    visibility : hidden
}

#testChart {
    width: 100%;
    height : 300px;
}

#speedVsHRChart {
   width : 49%;
    height: 200px;
    float : left;
    
}

/*#container {
    width: 100%;
}*/

#zonesChart {
    width : 50%;
    height: 200px;
    float : left;
    
}

#divHRZones {
    /*visibility: hidden;*/
    width : 50%;
}
