#btnParse {
    /* Parse button is only available when file is selected/dropped */
    visibility : hidden
}

#testChart {
    width: 100%;
    height : 400px;
}

#speedVsHRChart {
    width: 50%;
    height: 200px;
}
